#carouselHolder{
overflow:hidden;
width:50%;
border: 1px solid #A6C0C5;
position:absolute;}

#carouselImages{
float:left;}

#prev{float:left; width:15%; padding:2em;}

#next{
float:left; width:15%; padding:2em;}

#descriptionHolder{clear:both; 
float:left;}

.imageVisible{
display:block;}

.imageHide{
display:none;}

.linkNext {
margin-top:50%;
margin-bottom:50%;
font-family:Georgia, Arial,"Sans-serif";
font-size:150%;
font-style:italic;
color:#A6C0C5;
text-decoration:none;}

.linkPrevious{
margin-top:50%;
margin-bottom:50%;
font-family:Georgia, Arial,"Sans-serif";
font-size: 150%;
font-style:italic;
color:#A6C0C5;
text-decoration:none;}